/Libs

/Programs/Skeleton/.vs
/Programs/Skeleton/bin
/Programs/Skeleton/Skeleton.sln
/Programs/Skeleton/Skeleton.v12.suo

/Programs/Skeleton/Skeleton/Debug
/Programs/Skeleton/Skeleton/Release

/Programs/Skeleton/Skeleton/Skeleton.vcxproj
/Programs/Skeleton/Skeleton/Skeleton.vcxproj.filters
/Programs/Skeleton/Skeleton/Skeleton.vcxproj.user
/Programs/Skeleton/Skeleton/Skeleton.sln